li{
    color: white;
}

.itemActionIconImEye{
    height: 42px;
    width: 52px;
    color: grey;
}

.itemActionIconFaRegHeart{
    height: 37px;
    width: 52px;
    color: grey;
}

.itemActionIconHiClock{
    height: 40px;
    width: 52px;
    color: grey;
}

.itemActionText{
    font-size: 12px;
}